body {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.Task1 {
    background-color: rgba(144, 144, 201, 0.192);
}

.Task1 h1 {
    font-family: 'Ubuntu';
    color: blueviolet;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #718597;
}